body {
    background-color: #232323;
    margin: 0; /*To make menu bar go across screen*/
    padding: 0; /*To make menu bar go across screen*/
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.667%;
}

.square:hover { 
    cursor: pointer;
}

#squares-container {
    margin: 0 auto;
    max-width: 50rem;
}

h1 {
    color: white;
    margin: 0;
    padding: 5rem 2rem;
}

#menu-container {
    background-color: white;
    height: 2rem;
    text-align: center;
}

.selected {
    background-color: blue;
}