@font-face {
    font-family: "NightOfTerror";
    src: url("../assets/fonts/CFOneTwoTrees-Regular.ttf")  format("truetype"); 
}

html, body {
    margin: 0;
}

.body {

}

header {
    background: white;
    padding: 20px 0px;
    height: 70px;
    margin-bottom: 50px;
    /* border-bottom: 2px solid black; */
}

/* For the items in the header */
ul {
    display: grid;
    grid-template-columns: 1fr repeat(1, auto) 1fr;
    grid-column-gap: 5px;
    justify-items: center;
}

li:nth-child(1) { grid-column-start: 2;}
/* li:nth-child(4) { margin-left: auto; } */

/* for demo only */
ul { padding: 0; margin: 0; list-style: none; }
li { height: 100%}

/* Change the name */
.mode {
    height: 100%;
    font-size: 3.1rem;
}

.mode:hover {
    cursor: pointer;
}

.fa-moon {
    color: #FF2741;
}

.fa-sun {
    color: #FFA02F;
}

.nosleep {
    font-size: 3.9rem;
    font-family: NightOfTerror, 'Times New Roman', Times, serif;
    /* font-weight: 600; */
    letter-spacing: 2px;
    
}

.main-container, footer {
    /* font-family: 'Libre Caslon Display', 'Times New Roman', Times, serif; */
    font-family: 'Arapey', 'Times New Roman', Times, serif;
    text-align: center;
    width: 55%;
    margin: 0 auto;
}
/* 
button {
    margin: 0 auto;
    display: block;
} */

.next {
    /* margin: 0 auto; */
    display: block;
    margin: 20px auto;
    height: 50px;
    width: 150px;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
}

#title:link, 
#author:link,
#github:link {
    text-decoration: none;
}

#title:visited,
#author:visited,
#github:visited {
    text-decoration: none;
}

#author:hover, 
#title:hover {
    text-decoration: underline;
}
  
#author, #title {
    color: black;
    display: table;
    margin: 20px auto;
}

#title {
    font-style: italic;
    font-size: 2.8rem;
    /* width: 55%; */
}

#author {
    font-size: 1.7rem;
}

#points, #is-series {
    font-size: 1.4rem;
}

#story {
    font-size: 1.5rem;
    display: inline-block;
    text-align: left;
    margin-bottom: 0px;
    /* width: 55%; */
}

footer {
    margin: 40px auto;
}

.fa-github {
    font-size: 4rem;
    color: black;

    /* color: gold; */
}

/* footer {
    text-align: center;
} */

@media screen and (max-width: 1560px) {
    .main-container {
        width: 60%;
    }
    /* #story {
        width: 60%;
    } */
}

@media screen and (max-width: 1450px) {
    .main-container {
        width: 65%;
    }
    /* #story {
        width: 65%;
    } */
}

@media screen and (max-width: 1350px) {
    #story {
        font-size: 1.4rem;
        width: 70%;
    }
}

@media screen and (max-width: 1000px) {
    #story {
        font-size: 1.3rem;
        width: 80%;
    }
}

@media screen and (max-width: 850px) {
    #story {
        font-size: 1.25rem;
        width: 80%;
    }
}

@media screen and (max-width: 580px) {
    #story {
        font-size: 1.15rem;
        width: 90%;
    }
}

/* Below is for the navbar */

  