@font-face {
    font-family: "NightOfTerror";
    src: url("../assets/fonts/CFOneTwoTrees-Regular.ttf")  format("truetype"); 
}

html, body {
    margin: 0;
}

.light-mode {
    background: rgb(245,241,241);
    background: linear-gradient(360deg, rgba(245,241,241,1) 0%, rgba(246,246,246,1) 100%, rgba(255,255,255,1) 100%);
}

.dark-mode {
    color: #f0e6d2;
    background-color: rgb(20,28,30);
}

a {
    color: inherit;
}

header {
    /* background: white; */
    padding: 20px 0px;
    height: 70px;
    margin-bottom: 60px;
    /* border-bottom: 2px solid black; */
}

/* For the items in the header */
ul {
    display: grid;
    grid-template-columns: 1fr repeat(1, auto) 1fr;
    grid-column-gap: 5px;
    justify-items: center;
    padding: 0; 
    margin: 0; 
    list-style: none;
}

li:nth-child(1) { grid-column-start: 2;}

.mode-logo {
    height: 100%;
    font-size: 3.1rem;
}

.fa-moon {
    color: #FF2741;
}

.fa-sun {
    color: #FFA02F;
}

.nosleep-reader {
    font-size: 3.9rem;
    font-family: NightOfTerror, 'Times New Roman', Times, serif;
    /* font-weight: 600; */
    letter-spacing: 2px;
    
}

.main-container, footer {
    /* font-family: 'Libre Caslon Display', 'Times New Roman', Times, serif; */
    font-family: 'Arapey', 'Times New Roman', Times, serif;
    text-align: center;
    width: 55%;
    margin: 0 auto;
}

.next {
    display: block;
    margin: 20px auto;
    height: 50px;
    width: 150px;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    border: 2px solid #D4AF37;
    color: 	#D4AF37;
    background-color: rgb(25,28,33);
}

.next:hover,
.mode-logo:hover {
    cursor: pointer;
}

#title:link, 
#author:link,
#github:link {
    text-decoration: none;
}

#title:visited,
#author:visited,
#github:visited {
    text-decoration: none;
}

#author:hover, 
#title:hover {
    text-decoration: underline;
}
  
#author, #title {
    display: table;
    margin: 20px auto;
}

#title {
    font-style: italic;
    font-size: 2.8rem;
}

#author {
    font-size: 1.7rem;
}

#points, #is-series {
    font-size: 1.4rem;
}

#story {
    font-size: 1.5rem;
    display: inline-block;
    text-align: left;
    margin-bottom: 0px;
    /* width: 55%; */
}

#story a {
    color: blue;
}

footer {
    margin: 40px auto;
}

.fa-github {
    font-size: 4.2rem;
    /* color: black; */

}

@media screen and (max-width: 1560px) {
    .main-container {
        width: 60%;
    }
}

@media screen and (max-width: 1450px) {
    .main-container {
        width: 65%;
    }
}

@media screen and (max-width: 1350px) {
    .main-container {
        width: 70%;
    }
    #story {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 1150px) {
    .main-container {
        width: 80%;
    }
}

@media screen and (max-width: 1000px) {
    .main-container {
        width: 85%;
    }
    #story {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 850px) {
    .main-container {
        width: 90%;
    }
    #story {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 620px) {
    .main-container {
        width: 95%;
    }
    header {
        margin-bottom: 10px;
    }
    .nosleep-reader {
        font-size: 3rem;
    }
    #title {
        font-size: 2rem;
        margin: 0px auto;
    }
    #author {
        font-size: 1.4rem;
        margin: 10px auto;
    }
    #story {
        font-size: 1.2rem;
    }
}

/* Below is for the navbar */

  