body {
	border: 20px solid #FFCEA6;
	width: 850px;
	height: auto;
	margin: 0 auto;
	padding: 12px;
	filter: brightness(85%);
}

h1 {
	color: #A59C9A;
	text-align: center;
}

h2 {
	color: #929191;
	font-size: 30px;
}

h3 {
	color: #89D389;
	letter-spacing: 2px;
	text-transform: uppercase;
}

p {
	font-family: Source Sans Pro;
	font-size: 18px;
}

p.first-paragraph {
	padding-left: 5px;
	border-left-width: 8px;
	border-left-color: #929191;
	border-left-style: solid;
}

hr.style-seven {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}
