h1 {
	font-size: 50px;
	text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.horizMiddle {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.verticalMiddle {
	border-left: 2px solid black;
	border-right: 2px solid black;
}

td {
	height: 100px;
	width: 100px;
}
